html,
body {
  height: 100%;
  margin: 0;
}

.app {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto 1fr auto;
}

header {
  background: lightblue;
  grid-column: 1 / -1;
  min-height: "7vh",
  display: "flex",
  justifyContent: "space-between",
  alignItems: "center",
  padding: "10px 20px",
  color: color,
}
footer {
  background: lightblue;
  grid-column: 1 / -1;
}
aside {
  background: lightgray;
}
main {
  background: white;
}
