html,
body {
  height: 100%;
  margin: 0;
}

.app {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 500px 1fr; /* Grösse Sidebar */
  grid-template-rows: auto 1fr auto;
}

.header {
  background: rgb(247, 230, 0);
  grid-column: 1 / -1;
  min-height: 7vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  gap: 20px;
  padding: 10px 20px;
  transition: transform 0.2s ease;
}
.header-controls {
  display: flex;
  align-items: center;
  gap: 20px;
  white-space: nowrap;
}

sidebar {
  background: lightgray;
  padding: 20px;
}

footer {
  background: rgb(247, 230, 0);
  grid-column: 1 / -1;
  padding: 20px;
}
aside {
  background: lightgray;
}
main {
  background: white;
  padding: 20px;
}
